.hero {
    padding-right: 5% !important;
    width: 85% !important;
    padding-top: 5% !important;
}

.custom-header {
    background: transparent !important;
}

.custom-right-side-feature-image {
    margin-top: 15%;
}