.hero {
    padding-right: 5% !important;
    width: 70% !important;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
}

.custom-header {
    background: transparent !important;
}

.custom-right-side-feature-image {
    margin-top: 15%;
}

.custom-intro {
    position: relative;
    text-align: center;
}